.line1{
	display: flex;
}
.line2{
	vertical-align: middle;
	display: flex;
}
.iconCenter{
	display: flex;
	align: center;
}
.buttonAlignment{
	vertical-align: bottom;
}
.buttonModal{
	width:93;
	height:30; 
	margin-top: 10px
}
.textAlignment{
	text-align: right;
	align: right;
	vertical-align: middle;
	float:right; 
	margin-right:0; 
	margin-left:auto; 
	margin-bottom:5px;
}
